
@font-face {
    font-family: 'RobotoBold';
    src: url('font/EF_Roboto_Bold/RobotoBold.eot');
    src: url('font/EF_Roboto_Bold/RobotoBold.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Bold/RobotoBold.woff2') format('woff2'),
         url('font/EF_Roboto_Bold/RobotoBold.woff') format('woff'),
         url('font/EF_Roboto_Bold/RobotoBold.ttf') format('truetype'),
         url('font/EF_Roboto_Bold/RobotoBold.svg#RobotoBold') format('svg');
}
