@font-face {
    font-family: 'SFUEurostileCondensed';
    src: url('fonts/SFUEurostileCondensed.eot');
    src: url('fonts/SFUEurostileCondensed.eot') format('embedded-opentype'),
         url('fonts/SFUEurostileCondensed.woff2') format('woff2'),
         url('fonts/SFUEurostileCondensed.woff') format('woff'),
         url('fonts/SFUEurostileCondensed.ttf') format('truetype'),
         url('fonts/SFUEurostileCondensed.svg#SFUEurostileCondensed') format('svg');
}
@font-face {
    font-family: 'SFUEurostileCondensed';
    src: url('font/SFUEurostileCondensed/SFUEurostileCondensed.eot');
    src: url('font/SFUEurostileCondensed/SFUEurostileCondensed.eot') format('embedded-opentype'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.woff2') format('woff2'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.woff') format('woff'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.ttf') format('truetype'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.svg#SFUEurostileCondensed') format('svg');
}