@CHARSET "utf-8";
#container{
	width:1000px;
	float:left;	
}
#container .pagination ul li.active,
#container .pagination ul li.inactive:hover{
	color:rgba(0,255,0,1);
    cursor: default;
}
#container .pagination ul li.inactive{
	border: 1px solid #eaeaea; cursor: default;
}
#container .pagination ul li.actived{color:#DB2E66;background-color:#0FF;}
#container .data ul li{
    list-style: none;
    font:normal 13px verdana;
}

#container .pagination{  width: 300px; float:right; height: 25px; margin-top:15px;}
#container .pagination ul li{
    list-style: none;
    float: left; margin: 0 3px;
    border: 1px solid #fff;
	border-radius:10px;
    padding: 2px 6px 2px 6px;
    font: bold 11px arial;
	color: #fff;
}
#container .pagination ul li a{
	color:#fff;
	text-decoration:none;
}
#container .pagination ul li:hover{
    background-color:#0FF;
    cursor: pointer; color: #fff;
}
/* paging 2 */
#container_1{
	width:1000px;
	float:left;	
}
#container_1 .pagination ul li.active,
#container_1 .pagination ul li.inactive:hover{
	color:rgba(0,255,0,1);
    cursor: default;
}
#container_1 .pagination ul li.inactive{
	border: 1px solid #eaeaea; cursor: default;
}
#container_1 .pagination ul li.actived{color:#DB2E66;background-color:#0FF;}
#container_1 .data ul li{
    list-style: none;
    font:normal 13px verdana;
}

#container_1 .pagination{  width: 300px; float:right; height: 25px; margin-top:15px;}
#container_1 .pagination ul li{
    list-style: none;
    float: left; margin: 0 3px;
    border: 1px solid #fff;
	border-radius:10px;
    padding: 2px 6px 2px 6px;
    font: bold 11px arial;
	color: #fff;
}
#container_1 .pagination ul li a{
	color:#fff;
	text-decoration:none;
}
#container_1 .pagination ul li:hover{
    background-color:#0FF;
    cursor: pointer; color: #fff;
}
/* paging 2 */
#container_2{
	width:1000px;
	float:left;	
}
#container_2 .pagination ul li.active,
#container_2 .pagination ul li.inactive:hover{
	color:rgba(0,255,0,1);
    cursor: default;
}
#container_2 .pagination ul li.inactive{
	border: 1px solid #eaeaea; cursor: default;
}
#container_2 .pagination ul li.actived{color:#DB2E66;background-color:#0FF;}
#container_2 .data ul li{
    list-style: none;
    font:normal 13px verdana;
}

#container_2 .pagination{  width: 300px; float:right; height: 25px; margin-top:15px;}
#container_2 .pagination ul li{
    list-style: none;
    float: left; margin: 0 3px;
    border: 1px solid #fff;
	border-radius:10px;
    padding: 2px 6px 2px 6px;
    font: bold 11px arial;
	color: #fff;
}
#container_2 .pagination ul li a{
	color:#fff;
	text-decoration:none;
}
#container_2 .pagination ul li:hover{
    background-color:#0FF;
    cursor: pointer; color: #fff;
}

.go_button{
	background-color:#DB2E66;
	border:1px solid #fff;
	color:#cc0000;padding:2px 6px;
	cursor:pointer;position:absolute;margin-top:-1px;
}
.total{	float:right;font-family:arial;color:#999; }

