@font-face {
    font-family: 'SFUEurostileBoldCondensed';
    src: url('fonts/SFUEurostileBoldCondensed.eot');
    src: url('fonts/SFUEurostileBoldCondensed.eot') format('embedded-opentype'),
         url('fonts/SFUEurostileBoldCondensed.woff2') format('woff2'),
         url('fonts/SFUEurostileBoldCondensed.woff') format('woff'),
         url('fonts/SFUEurostileBoldCondensed.ttf') format('truetype'),
         url('fonts/SFUEurostileBoldCondensed.svg#SFUEurostileBoldCondensed') format('svg');
}

@font-face {
    font-family: 'SFUEurostileBoldCondensed';
    src: url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.eot');
    src: url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.eot') format('embedded-opentype'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.woff2') format('woff2'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.woff') format('woff'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.ttf') format('truetype'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.svg#SFUEurostileBoldCondensed') format('svg');
}
